#doc h2 {
    font-size: 2rem;
    text-transform: uppercase;
}

#doc h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

#doc h4 {
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 500;
}

#doc h5 {
    font-size: 1.125rem;
    text-transform: uppercase;
    font-weight: 500;
}

#doc ol {
    list-style: number;
    margin-left: 2rem;
}

#doc li {
    margin: 1rem 0;
}

#doc p {
    margin: 1rem 0;
}

#doc a {
    color: blue;
}

#doc a:hover {
    color: lightblue;
}